<p id="notice"><%= notice %></p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Company description:</b>
  <%= @company.company_description %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
